.App {
  justify-content: center;
  margin:5%;
}



.buttonGroup{
  display:grid;
  grid-template-columns: repeat(2, 160px);
}

#JOIN{
  background-color: #a1e6ff;
  border-radius: 30px;
  width:150px;
  border:none;
  margin:1%;
  color: white;
  padding:1%;
}
#Settings{
  background-color: #72a5ae;
  border-radius: 30px;
  width:150px;
  border:none;
  margin:1%;
  color: white;
  padding:1%;
}
#LOGIN{
  background-color: #faa429;
  border-radius: 30px;
  width:150px;
  border:none;
  margin:1%;
  color: white;
  padding:1%;
}
#CONTACT{
  background-color: rgb(165, 11, 11);
  border-radius: 30px;
  width:150px;
  border:none;
  margin:1%;
  color: white;
  padding:1%;
}
#SEARCH{
  background-color: greenyellow;
  border-radius: 30px;
  width:150px;
  border:none;
  margin:1%;
  color: white;
  padding:1%;
}
#HELP{
  background-color: purple;
  border-radius: 30px;
  width:150px;
  border:none;
  margin:1%;
  color: white;
  padding:1%;
}
#HOME{
  background-color: pink;
  border-radius: 30px;
  width:150px;
  border:none;
  margin:1%;
  color: white;
  padding:1%;
}
#DOWNLOAD{
  background-color: brown;
  border-radius: 30px;
  width:150px;
  border:none;
  margin:1%;
  color: white;
  padding:1%;
}